<footer>
    <div class="footer_div">
        <ul>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/auth/login">INGRESAR</a></li>
            <li><a href="/contact">CONTACTO</a></li>
            <li><a href="/admin">ADMIN</a></li>
        </ul>
        <img src="/multimedia/branding/isotype.svg" alt="funkoshop">
    </div>
    <p>All rights reserved 2023 - Funkoshop &copy;</p>
</footer>