<header class="container">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <a href="/home"><img src="/multimedia/branding/logo_light_horizontal.svg" alt=""></a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <a href="/shop">SHOP</a>
            <a href="#">CONTACTO</a>
            <a href="/auth/login">LOGIN</a>
            <a href="/shop/cart" class="link_cart"><img src="/multimedia/icons/cart-icon.svg"
                    alt="cart" /></a>
        </div>
    </div>

</header>