<header class="container">
            
                <a href="/" class="logo"><img src="/multimedia/branding/logo_light_horizontal.svg" alt=""></a>
        

                <img src="/multimedia/icons/bars.svg" alt="bars" class="nav-btn" id="nav-btn">
           
        <div class="nav-links">
            <a href="/shop">SHOP</a>
            <a href="/contact">CONTACTO</a>
            <a href="/auth/login">LOGIN</a>
            <a href="/shop/cart" class="link_cart"><img src="/multimedia/icons/cart-icon.svg"
                    alt="cart" /></a>
        </div>

</header>
