<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/branding/isotype.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Create</title>
</head>

<body>
    <!-- HEADER -->
    <%- include("../partials/admin/header-admin.ejs") %>

        <section class="admin">
            <form class="form-create">
                <h2 class="title-create">CREAR NUEVO ITEM</h2>
                <div class="div-form">
                    <label for="categoria">Categoria: <select name="categoria" id="categoria" placeholder="CATEGORIA"
                            class="select-categoria"></select></label>

                    <label for="licencia">Licencia: <select name="licencia" id="licencia" placeholder="LICENCIA"
                            class="select-licencia"></select></label>

                </div>
                <div class="div-form">
                    <label for="nombre">Nombre del producto:</label>
                    <input type="text" id="nombre" placeholder="NOMBRE DEL PRODUCTO" class="input-nombre" />
                </div>
                <textarea name="descrip" id="descripcion" cols="30" rows="10"
                    placeholder="Descripcion del producto"></textarea>

                <div class="div-form2">
                    <label for="sku">SKU: <input type="text" id="sku" placeholder="SKU" class="input-sku" /></label>

                    <label for="stock">Stock: <input type="text" id="stock" placeholder="STOCK"
                            class="input-stock" /></label>

                    <label for="precio">Precio: <input type="text" id="precio" placeholder="PRECIO"
                            class="input-precio" /></label>

                    <label for="descuento">Descuento: <input type="text" id="descuento" placeholder="DESCUENTO"
                            class="input-descuento" /></label>

                    <label for="cuotas">Cuotas: <select name="cuotas" id="cuotas"></select></label>

                </div>
                <div class="imgs">

                    <label for="imagenes">Imagenes:</label>
                    <input type="file" id="imagenes" multiple placeholder="Elegir archivox" />
                    <img src="../multimedia/harry-potter/harry-1.webp" class="img-uploaded" alt="">
                    <img src="../multimedia/harry-potter/harry-1.webp" class="img-uploaded" alt="">
                    <img src="../multimedia/harry-potter/harry-1.webp" class="img-uploaded" alt="">
                </div>
                <div class="botones">
                    <button type="submit">Agreagr producto</button>
                    <button type="reset">Limpiar</button>
                </div>
            </form>

        </section>

        <!-- FOOTER -->
        <%- include("../partials/admin/footer-admin.ejs") %>

            <script src="../js/admin.js"></script>
</body>

</html>