<header class="container">
                <a href="/
                "><img src="/multimedia/branding/logo_light_horizontal.svg" alt=""></a>
               
        <div class="nav-links">
            <a href="/shop">VER TIENDA</a>
            <a href="/admin">ADMIN</a>
            <a href="/admin/categorias">CATEGORIAS</a>
            <a href="/admin/licencias">LICENCIAS</a>
            <a href="/auth/logout">SALIR</a>
        </div>
    </div>
</header>