<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../multimedia/branding/isotype.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>

<body>
    <%- include("../partials/header") %>
        <section class="admin">
            <h2>INGRESAR A MI CUENTA</h2>

            <form class="login-form" method="post" action="/auth/login">
                <% if (typeof errors != 'undefined') { %>
                    <ul>
                      <% errors.forEach(error => { %>
                      <li><%= error.msg %></li>
                      <% }) %>
                    </ul>
                    <% } %>
                <input
                type="email"
                name="email"
                placeholder="Email"
                id="email"
                value="<%= typeof values != 'undefined' ? values.email : '' %>"
              />
              <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Contraseña"
                  autocomplete="off"
                />
                <button type="submit" class="btn-ingresar">Ingresar</button>
                    <label for="remember" class="remember">Recordarme: <input type="checkbox" name="remember"></label>
                </div>
                <a class="olvide" href="/">Olvide mi contraseña</a>
            </form>

        </section>

        <script src="/js/app.js"></script>
</body>

</html>